@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="de-DE" # FIX>

<head>
    <meta charset="utf-8" />
    <title>@Localizer["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=3.0">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">

    <link rel="stylesheet" href="/css/default.css" type="text/css">
    <link rel="stylesheet" href="/css/button.css" type="text/css">
    <link rel="stylesheet" href="/css/input.css" type="text/css">
    <link rel="stylesheet" href="/css/icons.css" type="text/css">
    <link rel="stylesheet" href="/css/settings.css" type="text/css">
    <link rel="stylesheet" href="/css/tab.css" type="text/css">

    <meta name="theme-color" media="(prefers-color-scheme:dark)" content="#000000">
    <meta name="theme-color" media="(prefers-color-scheme:light)" content="#ffffff">

    <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
    <main>
        <div class="header">
            <h4>@Localizer["Title"]</h4>
            <div></div>
            <img height=100 src="/images/clouds.svg" />
        </div>


        <div class="tabcontrol">
            <div class="tab__header">
                <a class="tab__header_item" @((int)ViewData["SelectedTab"] == 0 ? "selected" : "") href="/Settings/Downloads">
                    <div class="icon">file_download</div>
                    <div class="tab__header_text">@Localizer["Downloads"]</div>
                </a>
                <a class="tab__header_item" @((int)ViewData["SelectedTab"] == 1 ? "selected" : "") href="/Settings/Accounts">
                    <div class="icon">people</div>
                    <div class="tab__header_text">@Localizer["Accounts"]</div>
                </a>
                <a class="tab__header_item" @((int)ViewData["SelectedTab"] == 2 ? "selected" : "") href="/Settings/Server">
                    <div class="icon">admin_panel_settings</div>
                    <div class="tab__header_text">@Localizer["Server"]</div>
                </a>
                <div class="tab__header_spacing">

                </div>
            </div>

            <div class="tab__content">
                @RenderBody()
            </div>

            <div class="tabcontrol__statusbar">
            </div>
        </div>
    </main>
    <script>Application.Settings.Main();</script>
</body>

</html>