@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = "Layout";
    ViewData["Title"] = Localizer["Title"];
}

<div style="height: 10vh;">

</div>
<h4 class="title">@Localizer["Title"]</h4>
<p>@Localizer["Description"]</p>


<form method="post">
    <div class="textbox__wrapper">
        <div class="textbox">
            <input name="username" id="username_field" type="text" value="Sinedo" hidden/>
            @* <label for="username_field"></label> *@

            <input name="newPassword" id="password_field" type="password" autocomplete="new-password"/>
            <label for="password_field">@Localizer["NewPassword"]</label>
        </div>
    </div>

    @if(Html.ViewData.ModelState.ContainsKey("policy"))
    {
        <p class="error">
            <span>@Localizer["ChangePolicy"]<span>
        </p>
    }
    else if(Html.ViewData.ModelState.ContainsKey("error"))
    {
        <p class="error">
            <span>@Localizer["ChangeError"]</span>
        </p>
    }

    <button class="dialog-button square-button" type="submit" name="save">
        <span>@Localizer["Save"]</span>
    </button>
</form>

<button class="dialog-button square-button" onclick="window.location='/'" name="abort">
    <span>@Localizer["Abort"]</span>
</button>